.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.textform-container {
  width: 555px;
  margin-left: 422px;
}

.textform-h3 {
  margin-left: 95px;
  margin-top: 45px;
}

.text1 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 123px;
}

.text2 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 92px;
}

.parastext1 {
  margin-left: 55px;
}

.parastext2 {
  margin-left: 42px;
}

.navbar {
  margin-left: -123px;
  margin-right: -123px;
}

.about-container {
  margin-left: 383px;
  width: 700px;
  margin-top: 20px;
}

.about-h1 {
  margin-left: 235px;
  font-size: 32px;
}